.speech
{
    color:black;
    font-family: Times;
    size: 0ch;
    font-size:14;
    background-color:cornflowerblue;
}

.stage-direction 
{
    color:black;
    font-family: Times;
    size: 0ch;
    font-size:14;
    background-color: aliceblue;
}

.stage-direction:hover
{
    color:blue;
    background-color:bisque;
}

.name
{
    color:black;
    font-family: Times;
    size: 0ch;
    font-size:14;
    background-color:darkred;
}

.JAMES
{
    color: brown;
}

.LORD-GORING
{
    color: chocolate;
}

.LORD-CAVERSHAM
{
    color: cyan;
}

.table-customised
{
    border: 5px;
    border-style: solid;
    color: black;
    text-align: center;
    margin: 5px;
    padding-left: 10px;
}

table td,th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }